@charset "utf-8";
/* CSS Document */
body{
	background-color: floralwhite;
}

h1{
	opacity: 0;
	transition: opacity .1s;	
}

.non {
  display: none;
}

.visible:hover + .non {
  display: block;
  color: palevioletred;
}